<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-images">
                                <div>
                                    <div class="image-imitation">
                                        {{mainPicture}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2 class="font-bold m-b-xs">
                                {{advert.realestate.realestateName}}
                            </h2>
                            <div class="m-t-md">
                                <h2 class="product-main-price">${{advert.cost}}
                                    <small class="text-muted">Exclude Tax</small>
                                </h2>
                            </div>
                            <hr>
                            <h4>Product description</h4>
                            <div class="small text-muted">
                                {{advert.description}}
                            </div>
                            <dl class="small m-t-md">
                                <dt>Description lists</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <dt>Euismod</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Malesuada porta</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                </br>
                                <dt>Advert raiting: <b>{{advert.advert_rate}}</b></dt>
                                <dd>
                                 <!-- Advert rating -->
		                            <div>
										 <div ng-show="authenticated">
											 <div ng-if="userAdverRate.user.id == user.uid && userAdverRate.advert.id == advert.id || user.uid == advert.user.id">
											 	 <input-stars max="5"  on-star-click="rateAdvert(rating)" ng-model="rating" readonly="true"></input-stars>
											 </div>
											 <div ng-show="!(user.uid == advert.user.id)">
												 <div ng-if="userAdverRate.user.id !== user.uid || userAdverRate.advert.id !== advert.id">
												 	 <input-stars max="5"  on-star-click="rateAdvert(rating)" ng-model="rating"  readonly="false"></input-stars>
												 </div>
											 </div>
										 </div>
										 <div ng-show="!authenticated">
											<input-stars max="5"  ng-model="rating"  readonly="true"></input-stars>
										</div>
		                            </div>
	                            </dd>
                            </dl>
                            <hr>
                            <div>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart
                                    </button>
                                    <button class="btn btn-white btn-sm" ng-click="openMapModal(advert)"><i class="fa fa-map-marker""></i> View on map
                                    </button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with
                                        author
                                    </button>
                                    <button class="btn btn-white btn-sm" ng-show="authenticated && user.role !== 'Verifier'" ng-click="openReportModal(advert)"><i class="fa fa-flag" ></i> Report
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>Image gallery</h2>
                    <div class="lightBoxGallery">
                        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/1s.jpg"></a>
                        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/2s.jpg"></a>
                        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/3s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/8s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/9s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/2s.jpg"></a>
                        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/3s.jpg"></a>
                        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/1s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/9s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/11s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/1s.jpg"></a>
                        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/2s.jpg"></a>
                        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/3s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/8s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/9s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/11s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/2s.jpg"></a>
                        <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/3s.jpg"></a>
                        <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/1s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/9s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/11s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/7s.jpg"></a>
                        <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/8s.jpg"></a>
                        <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/9s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/11s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/6s.jpg"></a>
                        <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/12s.jpg"></a>
                        <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/4s.jpg"></a>
                        <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/5s.jpg"></a>
                        <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/10s.jpg"></a>
                        <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img
                                src="img/gallery/11s.jpg"></a>
                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ibox float-e-margins">
		<div ng-show="authenticated">
			<form name="newComment" ng-submit="createComment(advert.id)" novalidate>
			    <fieldset class="form-group">
			      <div class="form-group" ng-class="{ 'has-error' : newComment.textC.$invalid && !newComment.textC.$pristine }">
				      <label for="name">Write comment</label>
				      <input type="text" class="form-control" name="textC" ng-model="textC" required>
			      </div>
			      <button  class="btn btn-primary btn-sm" type="submit" ng-disabled="newComment.$invalid">post</button>
			    </fieldset>
			    
			</form>
			  
		</div>
		<div ng-repeat="comment in commentList | orderBy: -comment.date">
	        <div class="ibox-title">
	           <a ui-sref="UserProfile({userId: comment.user.id})"> <h5>{{comment.user.first_name}} {{comment.user.last_name}} </h5></a>
	            <div class="ibox-tools" ng-show="user.uid === comment.user.id">
	                <a class="close-link" ng-click="deleteComment(comment.id)" >
	                    <i title="delete"   class="fa fa-times"></i>
	                </a>
	            </div>
	        </div>
	        <div class="ibox-content">
	        	<small>Date: {{comment.date | date}}</small> </br> </br>
				<h4>{{comment.text}}</h4>
	        </div>
	        </br>
	   </div>
</div>