<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Update info</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <form role="form" class="form-inline" ng-submit="updateUserInfo()">
            <div class="form-group">
                <label for="exampleInputEmail2" class="control-label">First name</label>
                <input type="text" id="exampleInputEmail2"
                       class="form-control" name="updateFname" ng-model="updateFname">
            </div>
            <div class="form-group" style="margin-left: 24px;">
                <label for="exampleInputPassword2" class="control-label">Last name</label>
                <input type="text" id="exampleInputPassword2"
                       class="form-control" name="updateLname" ng-model="updateLname">
            </div>

            <button class="btn btn-white" type="submit" style="margin-top: 5px">Update</button>
        </form>
    </div>

</div>

<div class="ibox float-e-margins" ng-show="user.isMain != 1 && user.role != 'Admin' && user.role != 'Verifier'">
    <div class="ibox-title">
        <h5 ng-cloak>{{assignText}}</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content" ng-show="showSelect" ng-cloak>
        <select class="js-example-basic-single" ng-model="myComp" ng-options="company.company_name for company in allCompanies" ng-change="getAllCompanies()">
            <option style="display:none" value=""></option>
        </select>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>Your advert list</h5>
        <div class="ibox-tools">
            <!--<a href="" class="btn btn-primary btn-xs">Add new issue</a>-->
        </div>
    </div>
    <div class="ibox-content">

        <div class="m-b-lg">

            <!--<div class="input-group">-->
            <!--&lt;!&ndash;<input type="text" placeholder="Search issue by name..." class=" form-control">&ndash;&gt;-->
            <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-white"> Search</button>-->
            <!--</span>-->
            <!--</div>-->
            <div class="m-t-md">
                <strong>Found {{userAdverts.length}} adverts.</strong>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-hover issue-tracker">
                <tbody>
                <tr ng-repeat="advert in userAdverts">
                    <td class="issue-info">
                        <a href="#">
                            {{advert.realestate.realestateName}}
                        </a>

                        <small>
                            {{advert.realestate.type.typeName}}
                        </small>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <!--<span class="pie">0.52,1.041</span>-->
                        <!--2d-->
                    </td>
                    <td class="text-right">
                        {{advert.created_at}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-single").select2({width: 300});
    });
</script>