<div id="wrapper">
<nav class="navbar-default navbar-static-side" role="navigation" style="position:relative">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li style="border-bottom: 1px solid #d6d6d6; float: left; margin-right: 5px">
                <a ui-sref="creds" ui-sref-active="active"><i class="fa fa-info"></i> <span class="nav-label">Info</span></a>
            </li>

            <li style="border-bottom: 1px solid #d6d6d6; float: left; margin-right: 5px">
                <a ui-sref="creds2" ui-sref-active="active"><i class="fa fa-info"></i> <span class="nav-label">Test</span></a>
            </li>
            
        </ul>

    </div>
</nav>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-12">
            <div ui-view="profileView"></div>
        </div>
    </div>
</div>
