target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/resources/static/bower_components
src/main/resources/static/node_modules
src/main/resources/static/css/
src/main/resources/static/font-awesome/
src/main/resources/static/fonts/
src/main/resources/static/img/
src/main/resources/static/js/

src/main/resources/static/core/animate.css
src/main/resources/static/core/bootstrap.css
src/main/resources/static/core/bootstrap.css.map
src/main/resources/static/core/bootstrap.min.css
src/main/resources/static/core/bootstrap.min.css.map
src/main/resources/static/core/patterns/
src/main/resources/static/core/plugins/