<div class="modal-header">
    <h3 class="modal-title">Student</h3>
</div>
<div class="modal-body">
    <form name="newStaffForm">
        <fieldset class="form-group" ng-class="{ 'has-error' : newStaffForm.email.$invalid && !newStaffForm.email.$pristine }">
            <label for="cardNumber">User email</label>
            <input type="text" class="form-control" id="cardNumber" name="email" ng-model="email" ng-change="addNewStaff()" required>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="addNewStaffOk(company.id)" ng-disabled="newStaffForm.$invalid">Add</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
