<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<mvc:interceptors>
		<mvc:interceptor>
        	<mvc:mapping path="/api/advert/**"/>
        	<mvc:mapping path="/api/comment/**"/>
        	<mvc:mapping path="/"/>
        	<mvc:mapping path="/api/report/**"/>
        	<mvc:mapping path="/api/login"/>
        	<mvc:mapping path="/api/user/*/adverts"/>
        	<mvc:mapping path="/api/user/*/advert/*/expiredate"/>
        	<!-- <mvc:exclude-mapping path="/admin/**"/> -->
        <bean class="com.mmmp.netadvert.interceptor.AdvertDeleteInterceptor" />
    	</mvc:interceptor>
	</mvc:interceptors>
	
    
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Database conneciton -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url"
                        value="${spring.datasource.url}" />
        <property name="username" value="${spring.datasource.username}" />
        <property name="password" value="${spring.datasource.password}" />
    </bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="hibernate4AnnotatedSessionFactory"
                class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.mmmp.netadvert.model.User</value>
                <value>com.mmmp.netadvert.model.Advert</value>
                <value>com.mmmp.netadvert.model.Role</value>
                <value>com.mmmp.netadvert.model.Comment</value>
                <value>com.mmmp.netadvert.model.Company</value>
                <value>com.mmmp.netadvert.model.CompanyStaffs</value>
                <value>com.mmmp.netadvert.model.TechnicalEquipment</value>
                <value>com.mmmp.netadvert.model.RealestateCategory</value>
                <value>com.mmmp.netadvert.model.RealestateType</value>
                <value>com.mmmp.netadvert.model.Location</value>
                <value>com.mmmp.netadvert.model.Realestate</value>
                <value>com.mmmp.netadvert.model.Picture</value>
                <value>com.mmmp.netadvert.model.Report</value>
                <value>com.mmmp.netadvert.model.AdvertRating</value>
                <value>com.mmmp.netadvert.model.UserRating</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
            </props>
        </property>
    </bean>
    <bean id="transactionManager"
                class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory"
                        ref="hibernate4AnnotatedSessionFactory" />
    </bean>


</beans>